<h1>WELCOME TO KITCHEN STORY APP</h1>
<div id="menu">
    <h2> category</h2>
</div>
<a href="/riceitem"> RICE ITEMS</a>

<ul>
    <li> Veg rice</li>
    <li> tomato rice</li>
    <li> curd rice</li>
    <li> Sambhar rice</li>
</ul>
<br/>

<a href="/breakfast" > BREAKFAST ITEMS</a>
<ul>
    <li> Idly</li>
    <li> Dosa</li>
    <li> Gheerost</li>
    <li> Pongal</li>
</ul>
<br/>
<a href="/juice"> JUICE ITEMS</a>
<ul>
    <li> Orange</li>
    <li> Pineapple</li>
    <li> Apple</li>
    <li> Grapes</li>
</ul>
<br/>  
<a href="/dinner"> DINNER ITEMS</a>
<ul>
    <li>Roti</li>
    <li>Chappathi</li>
    <li> Parota</li>
    <li> Noodles</li>
</ul>
<br/>   