
<div id="item">
    <li>Veg rice ,265.00,Available </li>
    <li> tomato rice,195.00,Available</li>
    <li> curd rice ,145.00,Available</li>
    <li> Sambhar rice ,95.00,Available </li><br/>
</div>
<div id="yes">
<li> Idly ,:25.00,Available</li>
<div class="h">
    <li> Dosa ,35.00,Not Available</li>
</div>
    <li> Gheerost ,65.00,Available</li>
    <li> Pongal ,45.00,Available</li><br/>
</div>
<div class="juice">
    <li> Orange ,45.00,Available</li>
    <li> Pineapple ,45.00,Available</li>
    <li> Apple ,45.00,Available</li>
    <li> Grapes ,45.00,Available</li><br/>
</div>
<div class="dinner">
    <li>Roti ,60.00,Available</li>
    <div class="h">
    <li>Chappathi ,50.00, Not Available</li>
</div>
    <li> Parota ,55.00,Available</li>
    <li> Noodles ,65.00,Available</li><br/>
</div>